# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
backend.hcl
!backend.hcl.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# SSH Keys
*.pem
*.pub
id_rsa*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
